.pointer:hover {
  cursor: pointer;
}

#main-container {
  margin-top: 14px;
  margin-bottom: 14px;
}

.title {
  margin-bottom: 10px;
  font-weight: semibold;
}

.no-style-link {
  text-decoration: none;
  color: inherit;
}

.no-style-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  outline: none;
}

.input-container {
  margin-top: 10px;
  padding-top: 5px;
  overflow: hidden;
  position: relative;
  width: 80%;
}

input {
  color: #333;
  font-size: 14px;
  width: 100%;
  padding: 20px 5px 5px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
}

label {
  color: #333;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #333;
}

label > span {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 14px;
  transition: all 0.3s ease;
}

label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #0d6efd;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

input:focus + label span,
input:valid + label span {
  transform: translateY(-100%);
  font-size: 14px;
  bottom: 10px;
  color: #0d6efd;
}

input:focus + label::after,
input:valid + label::after {
  transform: translateX(0%);
}

textarea:focus + label span,
textarea:valid + label span {
  transform: translateY(-400%);
  font-size: 14px;
  bottom: 10px;
  color: #0d6efd;
}

textarea:focus + label::after,
textarea:valid + label::after {
  transform: translateX(0%);
}

.success-message { color: green; }
.error-message { color: red; }
.warning-message { color: orange; }
